/*
Author: TraelCS
File Name: styles.css
Date: 03/2026
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style rules for body and img */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: blue;
    background-image: linear-gradient(#04415C, #57BAC7, #A9DEDE);
    background-attachment: fixed;
}

img {
    max-width: 100%;
    display: block;
}

img .round, img .corner {
    border-radius: 10px;
    border: 2px solid white;
}

.image {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid white;
}

.corner {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: white;
    border: 2px solid white;
}

/* Style rules for text */
header {
    background-color: #A9DEDE;
    padding: 20px 0;
}

h1, h2, h3 {
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
}

nav a:hover {
    background-color: aquamarine;
    border-radius: 5px;
}

/* Style rules for main */
main {
    text-align: left;
}

.home {
    text-align: center;
}

/* Style rules for footer */
footer {
    background-color: #A9DEDE;
    color: white;
    text-decoration: none;
    text-align: center;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 600px), print {
    body {
        font-size: 16px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    img {
        width: 80%;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 901px), print {
    body {
        font-size: 18px;
    }

    nav ul {
        gap: 30%;
    }

    img {
        width: 90%;
    }
}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width: 1201), print {
    body {
        font-size: 20;
    }

    nav ul {
        gap: 40%;
    }

    img {
        width: 100%;
    }
}
